<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--3.配置web.xml配置文件让服务器进行管理调度过滤器的执行。（老方式）
            步骤1：定义过滤器类全名
            步骤2：指定过滤的目标资源（访问什么资源进行过滤）
    -->
  <!--  <filter>
        <filter-name>Demo1Filter</filter-name>
        <filter-class>com.itheima.filter._01Demo1Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Demo1Filter</filter-name>
        <url-pattern>/Demo1Servlet</url-pattern>
    </filter-mapping>
    -->

    <!--配置过虑去链-->
    <filter>
        <filter-name>_06Chain2Filter</filter-name>
        <filter-class>filter._06Chain2Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>_06Chain2Filter</filter-name>
        <url-pattern>/Demo4Servlet</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>_06Chain1Filter</filter-name>
        <filter-class>filter._06Chain1Filter</filter-class>
        </filter>
    <filter-mapping>
        <filter-name>_06Chain1Filter</filter-name>
        <url-pattern>/Demo4Servlet</url-pattern>
    </filter-mapping>
</web-app>